*{
    padding:0;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height:100vh;
    background:linear-gradient(0deg, #010614,#0a1647);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: wrap;
}
.music-card{
    background:#98cee1;
    width:400px;
    padding:25px 35px;
    text-align: center;
    border-radius: 15px;
    
}
    
nav{
    display: flex;
    justify-content:space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50%;
    
    width:40px;
    height:40px;
    line-height:40px;
    background:#fff;
    color:rgb(4, 2, 21);
    box-shadow:0 5px 10px rgba(20, 47, 200, 0.22);

}

.song-image{
    opacity: 0.87;
    transition: opacity 0.5s ease;
    border-radius: 50%;
    border:8px solid #5a4e7e;
    box-shadow:0 5px 10px rgba(20, 47, 200, 0.6);

}
.song-image:hover {
  opacity: 1;
}
.music-card h1{
    font-size: 30px;
    font-weight: 400;
    color: #333;
    margin-top: 30px;
}
.music-card p{
    font-size: 14px;
    color:#333;

}
#progress{
    -webkit-appearance:none;
    width: 100%;
    height:6px;
    background:#010e13;
    border-radius: 5px;
    cursor:pointer;
    margin:40px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance:none;
    background:#27416e;
    width:30px;
    height:30px;
    border-radius: 50%;
    border:8px solid #fff;
    box-shadow:0 5px 10px rgba(20, 47, 200, 0.6); 
}
.controls{
    display:flex;
    justify-content: center;
    align-items: center;

}

.controls div{
    width:60px;
    height:60px;
    margin:20px;
    background:#98cee1;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color:rgb(5, 14, 21);
    box-shadow:0 5px 10px rgba(20, 47, 200, 0.6) ;
    cursor:pointer;
}

.controls div:nth-child(2){
    transform:scale(1.5);
    background:#6a50ba;
    color:#fff;
}